In [6]:
from seaborn import load_dataset
df = load_dataset('titanic')
df.head()

   survived  pclass     sex   age  sibsp  parch     fare  ...  class    who adult_male  deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500  ...  Third    man       True   NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833  ...  First  woman      False     C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250  ...  Third  woman      False   NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000  ...  First  woman      False     C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500  ...  Third    man       True   NaN  Southampton    no   True

[5 rows x 15 columns]

In [7]:
df.embarked = df.embarked.fillna(method='ffill')
df.head()

   survived  pclass     sex   age  sibsp  parch     fare  ...  class    who adult_male  deck  embark_town alive  alone
0         0       3    male  22.0      1      0   7.2500  ...  Third    man       True   NaN  Southampton    no  False
1         1       1  female  38.0      1      0  71.2833  ...  First  woman      False     C    Cherbourg   yes  False
2         1       3  female  26.0      0      0   7.9250  ...  Third  woman      False   NaN  Southampton   yes   True
3         1       1  female  35.0      1      0  53.1000  ...  First  woman      False     C  Southampton   yes  False
4         0       3    male  35.0      0      0   8.0500  ...  Third    man       True   NaN  Southampton    no   True

[5 rows x 15 columns]

In [20]:
from CHAID import Tree

independent_variable_columns = ['sex', 'embarked']
dep_variable = 'survived'
tree = Tree.from_pandas_df(df, dict(zip(independent_variable_columns, ['nominal'] * 3)), dep_variable
          ,dep_variable_type='categorical', max_depth=5, min_parent_node_size=2, alpha_merge=0.1) 
tree.print_tree()

([], {0: 549.0, 1: 342.0}, (sex, p=3.7117477701134244e-59, score=263.05057407065567, groups=[['female'], ['male']]), dof=1))
|-- (['female'], {0: 81.0, 1: 233.0}, (embarked, p=0.0021675950917653094, score=9.401910064571009, groups=[['C'], ['Q', 'S']]), dof=1))
|   |-- (['C'], {0: 9.0, 1: 65.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|   +-- (['Q', 'S'], {0: 72.0, 1: 168.0}, <Invalid Chaid Split> - p-value greater than alpha merge)
+-- (['male'], {0: 468.0, 1: 109.0}, (embarked, p=0.0018664819989076882, score=12.5673998079191, groups=[['C'], ['Q'], ['S']]), dof=2))
    |-- (['C'], {0: 66.0, 1: 29.0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |-- (['Q'], {0: 38.0, 1: 3.0}, <Invalid Chaid Split> - the node only contains single category respondents)
    +-- (['S'], {0: 364.0, 1: 77.0}, <Invalid Chaid Split> - the node only contains single category respondents)

In [19]:
from CHAID import Tree

independent_variable_columns = ['fare', 'sex', 'embarked']
dep_variable = 'survived'
tree = Tree.from_pandas_df(df, dict(zip(independent_variable_columns, ['ordinal'] + ['nominal'] * 3)), dep_variable
          ,dep_variable_type='categorical', max_depth=5, min_parent_node_size=2, alpha_merge=0.1) 
tree.print_tree()

([], {0: 549.0, 1: 342.0}, (sex, p=3.7117477701134244e-59, score=263.05057407065567, groups=[['female'], ['male']]), dof=1))
|-- (['female'], {0: 81.0, 1: 233.0}, (embarked, p=0.0021675950917653094, score=9.401910064571009, groups=[['C'], ['Q', 'S']]), dof=1))
|   |-- (['C'], {0: 9.0, 1: 65.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|   +-- (['Q', 'S'], {0: 72.0, 1: 168.0}, (fare, p=0.00854407490274764, score=42.225688203745754, groups=[[6.8583, 7.5208, 8.5167, 9.225, 10.5167], [11.5, 12.2875, 13.8625, 14.4583, 15.1, 16.1, 17.4, 18.75, 19.9667, 20.25, 21.6792, 22.525, 23.45, 24.0, 25.4667, 26.3875, 27.0], [29.7, 30.0, 31.0, 32.3208, 33.0, 34.0208], [39.4], [46.9], [51.4792, 52.5542, 53.1], [55.9], [57.0], [65.0, 66.6], [69.3], [71.0], [77.9583, 78.2667, 79.65, 80.0], [83.1583], [86.5], [90.0], [93.5], [120.0], [133.65], [135.6333], [151.55], [153.4625], [164.8667], [211.3375], [263.0]]), dof=23))
|       |-- ([6.8583, 7.5208, 8.5167, 9.225, 10.5167], {0: 30.0, 1: 41.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
|       |-- ([11.5, 12.2875, 13.8625, 14.4583, 15.1, 16.1, 17.4, 18.75, 19.9667, 20.25, 21.6792, 22.525, 23.45, 24.0, 25.4667, 26.3875, 27.0], {0: 25.0, 1: 72.0}, <Invalid Chaid Split> - p-value greater than alpha merge)
|       |-- ([29.7, 30.0, 31.0, 32.3208, 33.0, 34.0208], {0: 9.0, 1: 8.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
|       |-- ([39.4], {0: 1.0, 1: 3.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
|       |-- ([46.9], {0: 2.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([51.4792, 52.5542, 53.1], {0: 0, 1: 7.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([55.9], {0: 0, 1: 3.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([57.0], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([65.0, 66.6], {0: 0, 1: 3.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([69.3], {0: 3.0, 1: 0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([71.0], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([77.9583, 78.2667, 79.65, 80.0], {0: 0, 1: 7.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([83.1583], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([86.5], {0: 0, 1: 3.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       |-- ([90.0], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([93.5], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([120.0], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([133.65], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([135.6333], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([151.55], {0: 2.0, 1: 1.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
|       |-- ([153.4625], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([164.8667], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
|       |-- ([211.3375], {0: 0, 1: 3.0}, <Invalid Chaid Split> - the node only contains single category respondents)
|       +-- ([263.0], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
+-- (['male'], {0: 468.0, 1: 109.0}, (fare, p=5.686566101931337e-08, score=88.73787679707517, groups=[[0.0], [4.0125, 5.0, 6.8583, 7.5208, 8.5167, 9.225, 10.5167, 11.5, 12.2875, 13.8625, 14.4583, 15.1, 16.1, 17.4, 18.75, 19.9667, 20.25, 21.6792, 22.525, 23.45, 24.0, 25.4667], [26.3875, 27.0, 28.5, 29.7, 30.0, 31.0, 32.3208, 33.0, 34.0208, 35.0, 36.75, 37.0042, 38.5, 39.4, 40.125, 41.5792, 42.4], [46.9, 47.1], [49.5, 50.4958, 51.4792, 52.5542, 53.1], [55.9, 56.9292, 57.0], [61.3792], [63.3583], [66.6], [69.3], [71.0], [73.5], [76.2917, 77.9583, 78.2667, 79.65], [81.8583, 82.1708, 83.1583], [89.1042, 90.0, 91.0792], [106.425], [108.9], [110.8833], [113.275], [120.0], [133.65], [135.6333], [151.55], [153.4625], [211.3375], [221.7792], [227.525], [247.5208], [263.0], [512.3292]]), dof=29))
    |-- ([0.0], {0: 14.0, 1: 1.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([4.0125, 5.0, 6.8583, 7.5208, 8.5167, 9.225, 10.5167, 11.5, 12.2875, 13.8625, 14.4583, 15.1, 16.1, 17.4, 18.75, 19.9667, 20.25, 21.6792, 22.525, 23.45, 24.0, 25.4667], {0: 331.0, 1: 50.0}, (embarked, p=0.031603060339952124, score=4.619901098228136, groups=[['C'], ['Q', 'S']]), dof=1))
    |   |-- (['C'], {0: 37.0, 1: 11.0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |   +-- (['Q', 'S'], {0: 294.0, 1: 39.0}, <Invalid Chaid Split> - p-value greater than alpha merge)
    |-- ([26.3875, 27.0, 28.5, 29.7, 30.0, 31.0, 32.3208, 33.0, 34.0208, 35.0, 36.75, 37.0042, 38.5, 39.4, 40.125, 41.5792, 42.4], {0: 70.0, 1: 31.0}, <Invalid Chaid Split> - p-value greater than alpha merge)
    |-- ([46.9, 47.1], {0: 5.0, 1: 0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |-- ([49.5, 50.4958, 51.4792, 52.5542, 53.1], {0: 10.0, 1: 4.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([55.9, 56.9292, 57.0], {0: 3.0, 1: 8.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([61.3792], {0: 3.0, 1: 0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |-- ([63.3583], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([66.6], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([69.3], {0: 4.0, 1: 0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |-- ([71.0], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([73.5], {0: 5.0, 1: 0}, <Invalid Chaid Split> - the node only contains single category respondents)
    |-- ([76.2917, 77.9583, 78.2667, 79.65], {0: 6.0, 1: 3.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([81.8583, 82.1708, 83.1583], {0: 2.0, 1: 1.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([89.1042, 90.0, 91.0792], {0: 1.0, 1: 3.0}, <Invalid Chaid Split> - splitting would create nodes with less than the minimum child node size)
    |-- ([106.425], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([108.9], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([110.8833], {0: 1.0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([113.275], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([120.0], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([133.65], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([135.6333], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([151.55], {0: 0, 1: 1.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([153.4625], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([211.3375], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([221.7792], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([227.525], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([247.5208], {0: 1.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    |-- ([263.0], {0: 2.0, 1: 0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)
    +-- ([512.3292], {0: 0, 1: 2.0}, <Invalid Chaid Split> - the minimum parent node size threshold has been reached)