# 自行開發K-Means

## 載入相關套件

In [2]:
import pandas as pd
import numpy as np
import math

## K-Means演算法類別

In [45]:
class Kmeans(object):
    # 訓練
    def fit(self, df, k=3):
        # 任意分成K組
        df['group']=k
        n = len(df) // 3
        for i in range(k-1):
            for j in range(n):
                df.loc[i*k+j, 'group'] = i
            
        # 重覆第EM步驟，直到資料所屬組別不再變動為止
        prev_df = pd.DataFrame()
        while not df.equals(prev_df):
            group_mean = df.groupby('group')['goals'].mean()
            print(group_mean)
            prev_df = df.copy()
            for i, row in prev_df.iterrows():
                df.loc[i, 'group'] = np.argmin(np.abs(group_mean - row['goals']))
            
        self.group_mean = group_mean
        return df
    
    # 預測
    def predict(self, x):
        return np.argmin(np.abs(self.group_mean - x))

## 載入資料集

In [46]:
df = pd.read_csv('./data/kmeans_data.csv')
df

  player  goals
0      A      5
1      B     20
2      C     11
3      D      5
4      E      3
5      F     19
6      G     30
7      H      3
8      I     15

## 模型訓練

In [47]:
model = Kmeans()
model.fit(df)

group
0    12.0
1     9.0
3    16.0
Name: goals, dtype: float64
group
0    11.0
1     4.0
2    21.0
Name: goals, dtype: float64
group
0    13.0
1     4.0
2    23.0
Name: goals, dtype: float64

  player  goals  group
0      A      5      1
1      B     20      2
2      C     11      0
3      D      5      1
4      E      3      1
5      F     19      2
6      G     30      2
7      H      3      1
8      I     15      0

## 預測

In [48]:
model.predict(10)

0